# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = theeddieh
	email = theeddieharrison@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true

[alias]
	st = status
	co = checkout
	br = branch
	last = log -1 HEAD
	history = log --pretty=format:\"%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s\"
	viz = log --oneline --graph --all --decorate
	release-report = log --pretty=format:\"%ad ∆ %s\" master..development
	rr-short = log --pretty=format:\"%s\" master..development
	head = rev-parse --short HEAD
[core]
	editor = nano
