NAME STATUS CREATED STARTED STOPPED                                             
metadata.name status.containerStatuses[0].state.terminated.reason metadata.creationTimestamp status.containerStatuses[0].state.terminated.startedAt status.containerStatuses[0].state.terminated.finishedAt
